#board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 1px;
  align-items: center;
  justify-content: center;
}
.StartGameDivv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.StartGame{
  position:absolute;
  top: 50%;
  color: #ff000a;
  background-color: rgb(31, 31, 31);
  border-radius: 8px;
  border: 1px solid #ff2e36;
  padding: 10px;
  transition: border-color 0.25s;
  font-size: 1em;
  box-shadow: inset 0px 0px 5px 5px rgba(255,0,10,0.5), 0px 2px 20px 5px rgba(255,0,10,0.5);
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  background-color: #7a090c;
  border-color: #42d4f5
}
#flag {
  width: 30px;
  height: 30px;
  pointer-events: none;

}
img {
  width: 30px;
  height: 30px;
}
.mine {
  background-color: #f00;
  color: #fff;
}

.hidden {
  background-color: #170020;
}

.flagged {
  background-color: #0f0;
}

#timer,#btnnnbtn{
  text-align: center;
  align-items: center;
  justify-content: center;
}