#gamesboard-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.maindiv{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.StartGameDiv{
    border-radius: 8px;
    width: 40%;
    height: 500px;
    background-color: #170020;
    position: absolute;
    align-self: center;
}
.StartGame{
    position:absolute;
    top: 50%;
    color: #ff000a;
    background-color: rgb(31, 31, 31);
    border-radius: 8px;
    border: 1px solid #ff2e36;
    padding: 10px;
    transition: border-color 0.25s;
    font-size: 1em;
    box-shadow: inset 0px 0px 5px 5px rgba(255,0,10,0.5), 0px 2px 20px 5px rgba(255,0,10,0.5);
}
.game-board{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 2px white solid;
    box-shadow:  0px 0px 6px 6px rgba(189, 189, 189, 0.5);
}

.block {
    width: 20px;
    height: 20px;
    border: 1px solid  black;
    box-sizing: border-box;
}

.option-container{
    width: 200px;
    height: 50px;
    margin: 30px 0;
    background-color: #736679;
    display: flex;
    align-items: center;
    border: 2px white solid;
    box-shadow:  0px 0px 6px 6px rgba(189, 189, 189, 0.5);
}

.destroyer{
    background-color: #ed8980;
}

.submarine{
    background-color: #b6ff7a;
}

.cruiser{
    background-color: #eb70ef;
}

.battleship{
    background-color: #f7d9aa;
}

.carrier {
    background-color: #a190f4;
}

.destroyer-preview {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser-preview{
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship-preview{
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier-preview{
    width: 50px;
    height: 10px;
    margin: 3px;
}

.hover {
    background-color: rgb(180, 88, 88);
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .battleship,
#computer .carrier{
    background-color: #301934;
}

.boom{
    background-color: red !important;
}

.empty{
    background-color: whitesmoke !important;
}