#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
header {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff000a;
  height: 100px;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
}
section{
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 140px;
  width: 140px;
  border: 1px solid #ff000a;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  height: 700px;
  width: 100%;
  border: 1px solid #ff000a;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
}
footer{
  margin-top: 20px;
  height: 100px;
  border: 1px solid #ff000a;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
}
.minizdj{
  width: 130px;
  height: 130px;
}
.Logo{
  -webkit-text-stroke: solid 3px #ff2e36;
  text-shadow: 0px 2px 50px #ff000a;
  color: #991616;
  font-family: Inter;
  font-size: 50px;
  margin: 10px;
}
.changecolour{
  color: #991616;
  background-color: rgb(31, 31, 31);
  border-radius: 20%;
  border: 1px solid #ff000a;

}