@keyframes pulse-border-red {
  0% {
    border-color: #ffffff;
  }
  50% {
    border-color: #ff000a;
  }
  100% {
    border-color: #ffffff;
  }
}
@keyframes pulse-border-violet {
  0% {
    border-color: #ffffff;
  }
  50% {
    border-color: violet;
  }
  100% {
    border-color: #ffffff;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
header {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff000a;
  height: 100px;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
  transition: border-color 0.25s;
  border-radius: 8px;
  margin-bottom: 10px;
  user-select: none;
}
section{
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 140px;
  width: 140px;
  border: 1px solid #ff000a;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.25s;
  border-radius: 8px;
}
.container:hover{
  animation: pulse-border-red 1s infinite;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  border: 1px solid #ff000a;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
  transition: border-color 0.25s;
  border-radius: 8px;
  margin-top: 10px;
}
footer{
  margin-top: 20px;
  height: 100px;
  border: 1px solid #ff000a;
  box-shadow: inset 0px 0px 10px 5px rgba(255,0,10,0.5), 0px 2px 50px 10px rgba(255,0,10,0.5);
  transition: border-color 0.25s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}
.minizdj{
  width: 130px;
  height: 130px;
  border-radius: 8px;
}
.Logo{
  -webkit-text-stroke: solid 3px #ff2e36;
  text-shadow: 0px 2px 50px #ff000a;
  color: #991616;
  font-family: Inter;
  font-size: 50px;
  margin: 10px;
  transition: border-color 0.25s;
}
.changecolour{
  color: #ff000a;
  background-color: rgb(31, 31, 31);
  border-radius: 8px;
  border: 1px solid #ff2e36;
  padding: 10px;
  transition: border-color 0.25s;
  font-size: 1em;
  box-shadow: inset 0px 0px 5px 5px rgba(255,0,10,0.5), 0px 2px 20px 5px rgba(255,0,10,0.5);
}
.changecolour:hover,.options:hover{
  border: 1px solid #ffffff;
  transition: border-color 0.10s;
}
.menu{
  display:none;
  position: absolute;
  width: 400px;
  height: 400px;
  border: 2px solid red;
  background-color: rgb(31, 31, 31);
  border-radius: 8px;
  box-shadow: inset 0px 0px 5px 5px rgba(255,0,10,0.5), 0px 2px 20px 5px rgba(255,0,10,0.5);
}
.closeMenu{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
.zebatka{
  width: 90px;
  height: 90px;
  transition: transform 2s;
}

.zebatka:hover {
  transform: rotate(360deg);
}