.L_buttons{
    color: #ff000a;
    background-color: rgb(31, 31, 31);
    border-radius: 8px;
    border: 1px solid #ff2e36;
    padding: 10px;
    margin:2px;
    transition: border-color 0.25s;
    font-size: 20px;
    box-shadow: inset 0px 0px 5px 5px rgba(255,0,10,0.5), 0px 2px 20px 5px rgba(255,0,10,0.5);
    width:40px;
    
   
  }
  .L_buttons:hover{
    border: 1px solid #ffffff;
    transition: border-color 0.10s;
  }
  .L_buttons:focus{
    color: #ffd6d7;
    background-color: rgb(31, 31, 31);
    
    border: 1px solid #ffd6d7;
    transition: border-color 0.25s;

    box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.5), 0px 2px 20px 5px rgba(255, 255, 255, 0.5);
  }
  .Ang{
    margin-bottom:5px;
    margin-top:20px;
    display: flex;
    flex-wrap: wrap;
  }
  .Gre{
    display: flex;
    flex-wrap: wrap;
  }
  .Sifer{
    font-family:'Trebuchet MS';
    margin-left:10px;
    margin-right:10px;
  }
  #butt1,#butt2{
    width: auto;
  }

 